{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}
    <div id="wrapper">
    {{ include('Bloques/menu.html.twig') }}
    {{ include('Bloques/menuIzquierdo.html.twig') }}
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container">
    {% block content %}
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title" style="padding-right: 10px;">Nueva Solicitud</h4>
                    <br>
                    {#<span class="label label-danger">Pendientes: {{ pendientes }}</span>#}
                    {#<span class="label label-info">Atendidas Pendientes: {{ atendidasPendientes }}</span>#}
                    <h5>Estamos comprometidos en prestarle un mejor servicio, con el fin de realizar un desarrollo a la
                        medida que cumpla con las necesidades por favor tenga en cuenta las siguientes recomendaciones a
                        la hora de diligenciar esta solicitud:<br><br>
                        -No escatime en discriminar a fondo su solicitud de desarrollo a la medida<br>

                        -Si es necesario después de guardar la solicitud puede adjuntar documentos (max 4mb por archivo)<br>

                        -Los detalles que no queden dentro de la solicitud no serán tenidos en cuenta en el entregable
                        ni en el precio.</h5>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>Datos de la solicitud.</b></h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form,{ 'attr': {'id':'form','class': 'form-horizontal','data-parsley-validate':'true','novalidate':'novalidate', }}) }}
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="_telefono">Tipo de solicitud: </label>
                                <div class="col-md-4">
                                    {{ form_widget(form.solicitudTipoRel) }}
                                </div>
                                <label class="col-md-2 control-label" for="_telefono">Nombre: </label>
                                <div class="col-md-4">
                                    {{ form_widget(form.nombre) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="_telefono">Contacto: </label>
                                <div class="col-md-4">
                                    {{ form_widget(form.contacto) }}
                                </div>
                                <label class="col-md-2 control-label" for="_telefono">Correo: </label>
                                <div class="col-md-4">
                                    {{ form_widget(form.correo) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="_telefono">Telefono: </label>
                                <div class="col-md-2">
                                    {{ form_widget(form.telefono) }}
                                </div>
                                <label class="col-md-1 control-label" for="_telefono">Ext: </label>
                                <div class="col-md-1">
                                    {{ form_widget(form.extension) }}
                                </div>
                                <label class="col-md-2 control-label" for="_telefono">Horas: </label>
                                <div class="col-md-4">
                                    {{ form_widget(form.horas) }}<cite style="font-size: 12px">En caso de solicitar una
                                        capacitación, seleccionar el tiempo deseado.</cite>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Descripción:</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.descripcion,{'attr': {'rows':'20'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btn btn-success btn-bordered waves-effect w-md waves-light m-b-5','style':'float:right;margin-left:5px;'} }) }}
                                    <a href="{{ path('solicitudListar') }}"
                                       class="btn btn-default btn-bordered waves-effect w-md m-b-5"
                                       style="float: right;">CANCELAR</a>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div></div></div></div></div>
        {{ include('Bloques/pie.html.twig') }}

    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $("[data-value]").each(function (k, v) {
                var select = $(v);
                select.val(select.attr("data-value"));
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });
        $(function () {
            $('#form').parsley().on('field:validated', function () {
                var ok = $('.parsley-error').length === 0;
                $('.alert-info').toggleClass('hidden', !ok);
                $('.alert-warning').toggleClass('hidden', ok);
            })
                .on('form:submit', function () {
                    return true; // Don't submit form for this demo
                });
        });
    </script>

{% endblock %}