{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}
    <div id="wrapper">
    {{ include('Bloques/menu.html.twig') }}
    {{ include('Bloques/menuIzquierdo.html.twig') }}
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container">
    {% block content %}
        <div class="row">
            <div class="col-md-12" style="padding: 20px;">
                <div class="panel panel-color panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="color: #797979;">Detalles del caso: <span
                                    class="label label-default">#{{ caso[0].codigoCasoPk }} </span></h3><br>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="panel-title" style="color: #797979;"> Paso 1:
                                    {% if caso[0].estadoAtendido %}
                                        <span class="label label-info">Atendido</span>
                                    {% else %}
                                        <span class="label label-warning">Sin Atender</span>
                                    {% endif %} |
                                    Paso 2:
                                    {% if caso[0].estadoSolucionado %}
                                        <span class="label label-success">Solucionado</span>
                                    {% else %}
                                        <span class="label label-warning">Por Solucionar</span>
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-md-4">
                                <strong>Nombre:</strong> {{ caso[0].nombre|default('-') }}<br><br>
                                <strong>Cargo:</strong> {{ caso[0].cargo|default('-') }}
                            </div>
                            <div class="col-md-4">
                                <strong>Categoria: </strong> <span
                                        style="background-color: {{ caso[0].categoriaColor }}; color: #ffffff; padding: 2px;border-radius: 5px;">{{ caso[0].categoria }}</span><br><br>
                                <strong>Prioridad:</strong> <span
                                        style="background-color: {{ caso[0].prioridadColor }}; color: #ffffff; padding: 2px;border-radius: 5px;">{{ caso[0].prioridad }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <h4>Gestión interna:</h4>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-2" class="control-label">Registra:</label>
                                    <p>{{ caso[0].usuario|default('Sin usuario') }}</p><br>
                                    <label for="field-3" class="control-label">Fecha de Registro:</label>
                                    {#<p>{{ caso[0].fechaRegistro|date('d/m/Y')|default('Sin usuario')  }}</p>#}
                                    <p>
                                        {% if caso[0].fechaRegistro %}
                                            {{ caso[0].fechaRegistro|date('d/m/Y') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Gestiona:</label>
                                    <p>{{ caso[0].codigoUsuarioAtiendeFk|default('Sin atender') }}</p><br>
                                    <label for="field-3" class="control-label">Fecha de Gestión:</label>
                                    <p>
                                        {% if caso[0].fechaGestion is defined %}
                                            {{ caso[0].fechaGestion|date('d/m/Y') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Soluciona:</label>
                                    <p>{{ caso[0].codigoUsuarioSolucionaFk|default('Sin solucionar') }}</p><br>
                                    <label for="field-3" class="control-label">Fecha de Solución:</label>
                                    <p>
                                        {% if caso[0].fechaSolucion is defined %}
                                            {{ caso[0].fechaSolucion|date('d/m/Y') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h4>Datos de Contacto:</h4>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-2" class="control-label">Contacto:</label>
                                    <p>{{ caso[0].contacto }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Correo:</label>
                                    <p>{{ caso[0].correo }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Teléfono:</label>
                                    <p>{{ caso[0].telefono }} ext. {{ caso[0].extension }}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h4>Datos del Caso:</h4>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="field-2" class="control-label">Asunto:</label>
                                    <p>{{ caso[0].asunto }}</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Descripcion:</label>
                                    <p>{{ caso[0].descripcion }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Solución:</label>
                                    <p>{{ caso[0].solucion|default('-') }}</p>
                                </div>
                            </div>

                        </div>
                        <hr>
                        {{ form_start(form, {'attr':{'enctype':"multipart/form-data"}}) }}
                        <div class="row">
                        <div class="form-group">
                        <label class="col-md-2 control-label">Adjunto:</label>
                        <div class="col-md-10">
                        {{ form_widget(form.adjunto) }}
                        </div>
                        </div>
                        <hr>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right;">
                        {{ form_widget(form.btnGuardar) }}
                        <a onclick="history.back()"
                           class="btn btn-default btn-bordered waves-effect w-md m-b-5"
                           style="float: left;"><span class="glyphicon glyphicon-arrow-left"></span> VOLVER</a>
                        <div class="clearfix"></div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-border panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">Adjuntos:</h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <div class="col-md-2 col-sm-6">
                            <div class="property-card">
                                {#<div class="property-image" style="background: url('assets/images/properties/4.jpg') center center / cover no-repeat;">#}
                                {#<span class="property-label label label-warning">For Rent</span>#}
                                {#</div>#}

                                <div class="property-content">
                                    <div class="listingInfo">
                                        <div class="">
                                            <h3 class="text-overflow"><a href="#" class="text-dark">Archivo</a></h3>
                                            <p class="text-muted text-overflow"><i
                                                        class="mdi mdi-map-marker-radius m-r-5"></i>Ruta
                                            </p>

                                            <div class="m-t-20">
                                                <button type="button"
                                                        class="btn btn-success btn-block waves-effect waves-light">
                                                    Descargar
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- end. Card actions -->
                                </div>
                                <!-- /inner row -->
                            </div>
                            <!-- End property item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-border panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tareas:</h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <div class="timeline timeline-left">
                            {% if arrTareas is defined or arrTareas|length == 0 %}
                                <article class="timeline-item">
                                    <div class="timeline-desk">
                                        <div class="panel">
                                            <div class="timeline-box">
                                                {#<span class="arrow"></span>#}
                                                {#<span class="timeline-icon"><i class="mdi mdi-checkbox-blank-circle-outline"></i></span>#}
                                                {#<h4 class="">1 hour ago</h4>#}
                                                {#<p class="timeline-date text-muted"><small>08:25 am</small></p>#}
                                                <p><i>No hay tareas para este caso.</i></p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% else %}
                                {% for tarea in arrTareas %}
                                    <article class="timeline-item">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="timeline-box">
                                                    {#<span class="arrow"></span>#}
                                                    {#<span class="timeline-icon"><i class="mdi mdi-checkbox-blank-circle-outline"></i></span>#}
                                                    {#<h4 class="">1 hour ago</h4>#}
                                                    {#<p class="timeline-date text-muted"><small>08:25 am</small></p>#}
                                                    <p>{{ tarea.descripcion }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-border panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comentarios:</h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <div id="comentarios">
                            <div class="card card-block">
                                <div class="timeline">
                                    {#<article class="timeline-item alt">#}
                                    {#<div class="text-right">#}
                                    {#<div class="time-show first">#}
                                    {#<a href="#" class="btn btn-danger w-lg">Today</a>#}
                                    {#</div>#}
                                    {#</div>#}
                                    {#</article>#}
                                    <article class="timeline-item alt">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="timeline-box">
                                                    <span class="arrow-alt"></span>
                                                    <span class="timeline-icon"><i
                                                                class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                                    <h4 class="">1 hour ago</h4>
                                                    <p class="timeline-date text-muted">
                                                        <small>08:25 am</small>
                                                    </p>
                                                    <p>Dolorum provident rerum aut hic quasi placeat iure tempora
                                                        laudantium
                                                        ipsa ad
                                                        debitis unde? </p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="timeline-item ">
                                        <div class="timeline-desk">
                                            <div class="panel">
                                                <div class="timeline-box">
                                                    <span class="arrow"></span>
                                                    <span class="timeline-icon bg-success"><i
                                                                class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                                    <h4 class="text-success">2 hours ago</h4>
                                                    <p class="timeline-date text-muted">
                                                        <small>08:25 am</small>
                                                    </p>
                                                    <p>consectetur adipisicing elit. Iusto, optio, dolorum <a href="#">John
                                                            deon</a>
                                                        provident rerum aut hic quasi placeat iure tempora laudantium
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('Bloques/pie.html.twig') }}
    {% endblock %}
{% endblock %}