{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}
    <div id="wrapper">
    {{ include('Bloques/menu.html.twig') }}
    {{ include('Bloques/menuIzquierdo.html.twig') }}
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container">
    {% block content %}
        <div class="row">
            <div class="col-md-12" style="padding: 20px;">
                <div class="panel panel-color panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="color: #797979;">Detalles del caso: <span
                                    class="label label-default">#{{ caso[0].codigoCasoPk }} </span></h3><br>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="panel-title" style="color: #797979;"> Paso 1:
                                    {% if caso[0].estadoAtendido %}
                                        <span class="label label-info">Atendido</span>
                                    {% else %}
                                        <span class="label label-warning">Sin Atender</span>
                                    {% endif %} |
                                    Paso 2:
                                    {% if caso[0].estadoSolucionado %}
                                        <span class="label label-success">Solucionado</span>
                                    {% else %}
                                        <span class="label label-warning">Por Solucionar</span>
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="col-md-4">
                                <strong>Nombre:</strong> {{ caso[0].nombre|default('-') }}<br><br>
                                <strong>Cargo:</strong> {{ caso[0].cargo|default('-') }}
                            </div>
                            <div class="col-md-4">
                                <strong>Categoria: </strong> <span
                                        style="background-color: {{ caso[0].categoriaColor }}; color: #ffffff; padding: 2px;border-radius: 5px;">{{ caso[0].categoria }}</span><br><br>
                                <strong>Prioridad:</strong> <span
                                        style="background-color: {{ caso[0].prioridadColor }}; color: #ffffff; padding: 2px;border-radius: 5px;">{{ caso[0].prioridad }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <h4>Gestión interna:</h4>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-2" class="control-label">Registra:</label>
                                    <p>{{ caso[0].usuario|default('Sin usuario') }}</p><br>
                                    <label for="field-3" class="control-label">Fecha de Registro:</label>
                                    {#<p>{{ caso[0].fechaRegistro|date('d/m/Y')|default('Sin usuario')  }}</p>#}
                                    <p>
                                        {% if caso[0].fechaRegistro %}
                                            {{ caso[0].fechaRegistro|date('d/m/Y') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Gestiona:</label>
                                    <p>{{ caso[0].codigoUsuarioAtiendeFk|default('Sin atender') }}</p><br>
                                    <label for="field-3" class="control-label">Fecha de Gestión:</label>
                                    <p>
                                        {% if caso[0].fechaGestion is defined %}
                                            {{ caso[0].fechaGestion|date('d/m/Y') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Soluciona:</label>
                                    <p>{{ caso[0].codigoUsuarioSolucionaFk|default('Sin solucionar') }}</p><br>
                                    <label for="field-3" class="control-label">Fecha de Solución:</label>
                                    <p>
                                        {% if caso[0].fechaSolucion is defined %}
                                            {{ caso[0].fechaSolucion|date('d/m/Y') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h4>Datos de Contacto:</h4>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-2" class="control-label">Contacto:</label>
                                    <p>{{ caso[0].contacto }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Correo:</label>
                                    <p>{{ caso[0].correo }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Teléfono:</label>
                                    <p>{{ caso[0].telefono }} ext. {{ caso[0].extension }}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h4>Datos del Caso:</h4>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="field-2" class="control-label">Asunto:</label>
                                    <p>{{ caso[0].asunto }}</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Descripcion:</label>
                                    <p>{{ caso[0].descripcion }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Solución:</label>
                                    <p>{{ caso[0].solucion|default('-') }}</p>
                                </div>
                            </div>

                        </div>
                        <hr>
                        {#{{ form_start(form, {'attr':{'enctype':"multipart/form-data"}}) }}#}
                        {#<div class="row">#}
                        {#<div class="form-group">#}
                        {#<label class="col-md-2 control-label">Adjunto:</label>#}
                        {#<div class="col-md-10">#}
                        {#{{ form_widget(form.adjunto) }}#}
                        {#</div>#}
                        {#</div>#}
                        {#<hr>#}
                        {#</div>#}
                    </div>
                    <div class="panel-footer" style="text-align: right;">
                        {#{{ form_widget(form.btnGuardar) }}#}
                        <a onclick="history.back()"
                           class="btn btn-default btn-bordered waves-effect w-md m-b-5"
                           style="float: left;"><span class="glyphicon glyphicon-arrow-left"></span> VOLVER</a>
                        <div class="clearfix"></div>
                    </div>
                    {#{{ form_end(form) }}#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <div class="panel panel-color panel-success">
                    <h3><a data-toggle="collapse" href="#tareas" aria-expanded="false"
                           aria-controls="collapseExample">Tareas:</a></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="collapse" id="tareas">
                    <div class="card card-block">
                        <div class="panel panel-inf">
                            <div class="panel-heading">
                                Tareas para el caso: #
                            </div>
                            <div class="panel-body">
                                <ul>
                                    {% for tarea in arrTareas %}
                                        <li>{{ tarea.descripcion }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <div class="panel panel-color panel-success">
                    <h3><a data-toggle="collapse" href="#comentarios" aria-expanded="false"
                           aria-controls="collapseExample">Comentarios:</a></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="collapse" id="comentarios">
                    <div class="card card-block">
                        <div class="timeline">
                            {#<article class="timeline-item alt">#}
                            {#<div class="text-right">#}
                            {#<div class="time-show first">#}
                            {#<a href="#" class="btn btn-danger w-lg">Today</a>#}
                            {#</div>#}
                            {#</div>#}
                            {#</article>#}
                            <article class="timeline-item alt">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="timeline-box">
                                            <span class="arrow-alt"></span>
                                            <span class="timeline-icon"><i
                                                        class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                            <h4 class="">1 hour ago</h4>
                                            <p class="timeline-date text-muted">
                                                <small>08:25 am</small>
                                            </p>
                                            <p>Dolorum provident rerum aut hic quasi placeat iure tempora laudantium
                                                ipsa ad
                                                debitis unde? </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item ">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="timeline-box">
                                            <span class="arrow"></span>
                                            <span class="timeline-icon bg-success"><i
                                                        class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                            <h4 class="text-success">2 hours ago</h4>
                                            <p class="timeline-date text-muted">
                                                <small>08:25 am</small>
                                            </p>
                                            <p>consectetur adipisicing elit. Iusto, optio, dolorum <a href="#">John
                                                    deon</a>
                                                provident rerum aut hic quasi placeat iure tempora laudantium </p>

                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('Bloques/pie.html.twig') }}
    {% endblock %}
{% endblock %}