{% extends 'base.html.twig' %}
{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}

    <div id="wrapper">
        {{ include('Bloques/menu.html.twig') }}

        {{ include('Bloques/menuIzquierdo.html.twig') }}
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    {% block content %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="page-title-box">
                                <h4 class="page-title" style="padding-right: 10px;">Casos o Incidencias - General</h4>
                                {#<span class="label label-danger">Pendientes: {{ pendientes }}</span>#}
                                {#<span class="label label-info">Atendidas Pendientes: {{ atendidasPendientes }}</span>#}
                                <a href="{{ path('registrarCaso') }}">
                                    <button class="btn btn-success btn-bordered waves-effect waves-light"
                                            style="float: right;"><span class="mdi mdi-plus"></span> Nuevo
                                    </button>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div id="datatable-keytable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <table id="datatable-keytable"
                                           class="table table-striped table-bordered dataTable no-footer table-oro"
                                           role="grid" aria-describedby="datatable-keytable_info"
                                           style="position: relative;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="datatable-keytable"
                                                aria-label="Name: activate to sort column ascending">Id
                                            </th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable-keytable" aria-sort="ascending">
                                                Fecha
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-keytable">
                                                Cliente
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-keytable">
                                                Soporte
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-keytable">
                                                Contacto
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-keytable">
                                                Categoría
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-keytable">
                                                Descripción
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-keytable">
                                                Prioridad
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-keytable">

                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for caso in casos %}
                                        <tr role="row" class="odd">
                                            <td>{{ caso.codigoCasoPk }}</td>
                                            <td>{{ caso.fechaRegistro|date('y-m-d') }}</td>
                                            <td>
                                                <strong>{{ caso.empresa }}</strong>
                                            </td>
                                            <td>{{ caso.soporte|default('-') }}</td>
                                            <td title="Correo: {{ caso.correo }} | Teléfono: {{ caso.telefono }} - ({{ caso.extension }})">{{ caso.contacto }}</td>
                                            <td>
                                                <span class="label"
                                                      style="background-color: {{ caso.categoriaColor }};">{{ caso.categoria }}</span>
                                            </td>
                                            <td><strong>{{ caso.asunto }}</strong> - {{ caso.descripcion }}</td>
                                            <td style="text-align: center;">
                                                <span class="label"
                                                      style="background-color: {{ caso.prioridadColor }};">
                                                    {% if caso.prioridad is defined or caso.prioridad != null %}
                                                        {{ caso.prioridad }}
                                                    {% else %}
                                                        Sin prioridad
                                                    {% endif %}
                                                </span>
                                            </td>
                                            <td style="text-align: center;">
                                                <a href="{{ path('casoDetalle', { 'codigoCaso':  caso.codigoCasoPk }) }}"
                                                   class="btn btn-info waves-effect waves-light btn-xs"><i
                                                            class="glyphicon glyphicon-eye-open"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {{ include('Bloques/pie.html.twig') }}
{% endblock %}